<h2>This is dummy data {{dummyData}}</h2>

<input type="number" [(ngModel)]="numElements"> enter the number of elements
<h3>
  Comparision {{comparision}}
</h3>
<button (click)="bubbleSort()" [disabled]="!show" >Sort</button>
<div class="row">
  <div class="col-md-3">
    <!--<div style="overflow-y:scroll;">-->
      <!--<div class="chart-wrapper" style="width:3000px; height: 300px">-->
        <canvas baseChart
                [datasets]="barChartData2"
                [labels]="barChartLabels2"
                [options]="barChartOptions2"
                [plugins]="barChartPlugins2"
                [legend]="barChartLegend2"
                [chartType]="barChartType2">
        </canvas>
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
<!--<div class="row" *ngIf="show">-->
  <!--<div class="col-md-6" *ngFor="let sorting of sortings">-->
    <!--<canvas [chartType]="barChartType"-->
            <!--[datasets]="charData[sorting].data"-->
            <!--[labels]="charData.labels"-->
            <!--[legend]="barChartLegends"-->
            <!--[options]="barChartOptions"-->
            <!--baseChart style="width: 12px">-->
    <!--</canvas>-->
  <!--</div>-->
<!--</div>-->
